<font size=9>Chapter 8 - SQL and Database Design</font>

# Problem

Facebook: Assume you have the below events table on app analytics. Write a query to get the clickthrough rate per app in 2019
- events
| column_name | type | 
|----------|----------|
| app_id | integer |
| event_id | string (“impression”, “click”) | 
| timestamp|datetime|

# Problem

Robinhood: Assume you are given the tables below containing information on trades and users. Write a query to list the top three cities that had the most number of completed orders.
- trades

| column_name | type | 
|----------|----------|
| order_id | integer |
| user_id | integer | 
| price|float|
| quantity|integer|
| status|string (“complete”, “cancelled”)|
| timestamp|datetime|

- users
| column_name | type | 
|----------|----------|
| user_id | integer | 
| city|string|
| email|string|
| signup_date|datetime|

In [ ]:
select top 3 t2.city, count(distinct t1.order_id) as total_order from trades t1 left join users t2 on t1.user_id = t2.user_id 
where t1.status = "complete"  group by t2.city order by total_order

# Problem

New York Times: Assume that you are given the table below containing information on viewership by device type (where the three types are laptop, tablet, and phone). Define “mobile” as the sum of tablet and phone viewership numbers. Write a query to compare the viewership on laptops versus mobile devices

- viewership
| column_name | type | 
|----------|----------|
| user_id | integer | 
| device_type|string("laptop", "tablet", "phone")|
| view_time|datetime|