<font size=8>Chapter 8 - SQL and Database Design</font>

# Problem

Facebook: Assume you have the below events table on app analytics. Write a query to get the clickthrough rate per app in 2019
- events
| column_name | type | 
|----------|----------|
| app_id | integer |
| event_id | string (“impression”, “click”) | 
| timestamp|datetime|

In [ ]:
select app_id, sum(case when event_id = "click" then 1 else 0 end)/sum(case when event_id ="impression" then 1 else 0 end) as click_rate from events 
where timestamp >'2018-12-31' and timestamp <'2020-01-01' group by app_id

In [ ]:
SELECT app_id, sum(if(event_id = 'click', 1, 0))/ sum(if(event_id = 'click', 1, 0)) 
as ctr 
FROM 
    events
WHERE 
    timestamp >= '2019-01-01' AND timestamp <= '2019-12-31'

# Problem

Robinhood: Assume you are given the tables below containing information on trades and users. Write a query to list the top three cities that had the most number of completed orders.
- trades

| column_name | type | 
|----------|----------|
| order_id | integer |
| user_id | integer | 
| price|float|
| quantity|integer|
| status|string (“complete”, “cancelled”)|
| timestamp|datetime|

- users
| column_name | type | 
|----------|----------|
| user_id | integer | 
| city|string|
| email|string|
| signup_date|datetime|

In [ ]:
select top 3 t2.city, count(distinct t1.order_id) as total_order from trades t1 left join users t2 on t1.user_id = t2.user_id 
where t1.status = "complete"  group by t2.city order by total_order

# Problem

New York Times: Assume that you are given the table below containing information on viewership by device type (where the three types are laptop, tablet, and phone). Define “mobile” as the sum of tablet and phone viewership numbers. Write a query to compare the viewership on laptops versus mobile devices

- viewership
| column_name | type | 
|----------|----------|
| user_id | integer | 
| device_type|string("laptop", "tablet", "phone")|
| view_time|datetime|

In [ ]:
select sum(case when device_type in ('tablet', 'phone') then 1 else 0 end) as mobile_view, 
sum(case when device_type ='laptop' then 1 else 0 end) as laptop_view 
from viewership

# Problem 

Amazon: Assume you are given the table below for spending activity by product type. Write a query to calculate the cumulative spend so far by date for each product over time in chronological order.

- total_trans
| column_name | type | 
|----------|----------|
| order_id | integer | 
| user_id | integer | 
| product_id|string|
| spend|float|
| trans_date|datetime|

# Problem 

eBay: Assume that you are given the table below containing information on various orders made by customers. Write a query to obtain the names of the ten customers who have ordered the highest number of products among those customers who have spent at least $1000 total.

- user_transactions
| column_name | type | 
|----------|----------|
| transaction_id | integer | 
| product_id | integer | 
| user_id|integer|
| spend|float|
| trans_date|datetime|

In [ ]:
select top 10 user_id from user_transactions group by user_id having sum(spend) >= 1000 order by sum(spend) desc

# Problem 

Twitter: Assume you are given the table below containing information on tweets. Write a query to obtain a histogram of tweets posted per user in 2020.

- tweets
| column_name | type | 
|----------|----------|
| tweet_id | integer | 
| user_id|integer|
| msg|string|
| tweet_date|datetime|

In [ ]:
select

# Problem

Stitch Fix: Assume you are given the table below containing information on user purchases. Write a query to obtain the number of people who purchased at least one or more of the same product on multiple days.

- purchases
| column_name | type | 
|----------|----------|
| purchase_id | integer | 
| user_id|integer|
| product_id|integer|
| quantity|integer|
| price|float|
| purchase_time|datetime|

In [ ]:
select product_id, count(distinct user_id) as num_users from (
 select user_id, product_id, count(*) from purchases group by user_id, product_id having count(*) > 1) table1 group by product_id having

# Problem
Linkedin: Assume you are given the table below that shows the job postings for all companies on the platform. Write a query to get the total number of companies that have posted duplicate job listings (two jobs at the same company with the same title and description).

- job_listings
| column_name | type | 
|----------|----------|
| job_id | integer | 
| company_id|integer|
| title|string|
| description|string|
| post_date|datetime|

In [ ]:
select count(distinct company_id) from (
    select company_id, job_id, rank() over (partion by company_id, title, description order )
)

# Problem

Etsy: Assume you are given the table below on user transactions. Write a query to obtain the list of customers whose first transaction was valued at $50 or more.
- user_transactions
| column_name | type | 
|----------|----------|
| transaction_id | integer | 
| product_id|integer|
| user_id|integer|
| spend|float|
| transaction_date|datetime|

In [ ]:
select count(distinct user_id) from (
    select user_id, spend, transaction_date, rank() over(partition by user_id oder by transaction_date) as transaction_num from user_transactions
) where transaction_num = 1 and spend >= 50

# Problem

Twitter: Assume you are given the table below containing information on each user’s tweets over a period of time. Calculate the 7-day rolling average of tweets by each user for every date.
- tweets
| column_name | type | 
|----------|----------|
| tweet_id | integer | 
| msg|string|
| user_id|integer|
| tweet_date|datetime|

In [ ]:
select avg() over (partition by user_id order from tweets group by user_id

# Problem

Uber: Assume you are given the table below on transactions made by users. Write a query to obtain the third transaction of every user.
- transactions
| column_name | type | 
|----------|----------|
| user_id|integer|
| spend|float|
| trans_date|datetime|

In [ ]:
with row_table as 
(select *, row_number() over (partitio by user_id order by trans_date) as row from transactions
 
sekect user_id, spend, trans_data from row_table where row = 3

# Problem

Amazon: Assume you are given the table below containing information on customer spend on products belonging to various categories. Identify the top three highest-grossing items within each category in 2020.
- product_spend
| column_name | type | 
|----------|----------|
| transaction_id|integer|
| category_id|integer|
| product_id|integer|
| user_id|integer|
| spend|float|
| transaction_date|datetime|

In [ ]:
WITH total_spend AS （ select category_id, sum(spend) as all_spend from product_spend group by category_id)

select rank() over (partition by category_id order by )

# Problem

Walmart: Assume you are given the below table on transactions from users. Bucketing users based on their <font color='red'>latest transaction date </font>, write a query to obtain the number of users who made a purchase and the total number of products bought for each transaction date.
- user_transactions
| column_name | type | 
|----------|----------|
| transaction_id|integer|
| product_id|integer|
| user_id|integer|
| spend|float|
| transaction_date|datetime|

In [ ]:
With latest_customer_transaction AS (
    select user_id, product_id, rank() over(partition by user_id order by CAST(transaction_date as date)  desc) as days_rank
)


select count(distinct user_id), count(distinct product_id) from latest_customer_transaction where days_rank=1 
group by transaction_date order by transaction_date desc

# Questions :
 - 1. Facebook: What is a database view? What are some advantages views have over tables
 - 2. Expedia: Say you have a database system where most of the queries made were UPDATEs/INSERTs/DELETEs. How would this affect your decision to create indices? What if the queries made were mostly SELECTS and JOINs instead
 - 3. Microsoft: What is a primary key? What characteristics does a good primary key have?
 - 4. Amazon: Describe some advantages and disadvantages of relational databases vs. NoSQL databases.
 - 5. Capital One: Say you want to set up a MapReduce job to implement a shuffle operator, whose input is a dataset and whose output is a randomly ordered version of that same dataset. At a high level, describe the steps in the shuffle operator’s algorithm.
 - 6. Amazon: Name one major similarity and difference between a WHERE clause and a HAVING clause in SQL.
 - 7. KPMG: Describe what a foreign key is and how it relates to a primary key.
 - 8. Microsoft: Describe what a clustered index and a non-clustered index are. Compare and contrast the two.

Answer 1:

A database view is the result of a particular query within a set of tables. Unlike a normal table, a view does not have a physical schema. Instead, a view is computed dynamically whenever it is requested. If the underlying tables that the views reference are changed, then the views will change accordingly.
Views have several advantages over tables:

- 1.Views can simplify workflows by aggregating multiple tables, thus abstracting the complexity of underlying data or operations.

- 2.Since views can represent only a subset of the data, they provide limited exposure of the table’s underlying data and hence increase data security.

- 3.Since views do not store actual data, there is significantly less memory overhea

Answer 2:

SQL statements that modify the database, like UPDATE, INSERT, and DELETE, need to change not only the rows of the table but also the underlying indexes. Therefore, the performance of those statements depends on the number of indexes that need to be updated. The larger the number of indexes, the longer it takes those statements to execute. On the flip side, indexing can dramatically speed up row retrieval since no underlying indexes need to be modified. This is important for statements performing full table scans, like SELECTS and JOINs.

Therefore, for databases used in online transaction processing (OLTP) workloads, where database updates and inserts are common, indexes generally lead to slower performance. In situations where databases are used for online analytical processing (OLAP), where database modifications are infrequent but searching and joining the data is common, indexes generally lead to faster performance

Answer 3:

A primary key uniquely identifies an entity. It can consist of multiple columns (known as a composite key) and cannot be NULL.
Characteristics of a good primary key are:

- Stability: a primary key should not change over time.

- Uniqueness: having duplicate (non-unique) values for the primary key defeats the purpose of the primary key.

- Irreducibility: no subset of columns in a primary key is itself a primary key. Said another way, removing any column from a good primary key means that the key’s uniqueness property would be violated.

Answer 4:

- Advantages of Relational Databases: Ensure data integrity through a defined schema and the ACID properties. Easy to get started with and use for small-scale applications. Lends itself well to vertical scaling. Uses an almost standard query language, making learning or switching between different types of relational databases easy.

- Advantages of NoSQL Databases: Offers more flexibility in data format and representations, which makes working with unstructured or semistructured data easier. Hence, useful when still iterating on the data schema or adding new features/functionality rapidly like in a startup environment. Convenient to scale with horizontal scaling. Lends itself better to applications that need to be highly available.

- Disadvantages of Relational Databases: Data schema needs to be known in advance. Altering schemas is possible, but frequent changes to the schema for large tables can cause performance issues. Horizontal scaling is relatively difficult, leading to eventual performance bottlenecks.

- Disadvantages of NoSQL Databases: As outlined by the BASE framework, weaker guarantees on data correctness are made due to the soft-state and eventual consistency property. Managing data consistency can also be difficult due to the lack of a predefined schema that’s strictly adhered to. Depending on the type of NoSQL database, it can be challenging for the database to handle some types of complex queries or access patterns.

Answer 5:

Answer 6:

A couple of answers are possible, but here are some examples:

- Similarities:
    - Both clauses are used to limit/filter a given query’s results.
    - Both clauses are optional within a query.
    - Usually, queries utilizing one of the two can be transformed to use the other.
      
- Differences:
    - A HAVING clause can follow a GROUP BY statement, but WHERE cannot.
    - A WHERE clause evaluates per row, whereas a HAVING clause evaluates per group.
    - Aggregate functions can be referred to in logical expression if a HAVING clause is used

Answer 7:

Foreign keys are a set of attributes that aid in joining tables by referencing primary keys (although joins can occur without them). Primarily, they exist to ensure data integrity. The table with the primary key is called the parent table, whereas the table with the foreign key is called the child table. Since foreign keys create a link between the two tables, having foreign keys ensures that these links are valid and prevents data from being inserted that would otherwise violate these conditions. Foreign keys can be created during CREATE commands, and it is possible to DROP or ALTER foreign keys. 

When designating foreign keys, it is important to think about the cardinality — the relationship between parent and child tables. Cardinality can take on four forms: one-to-one (one row in the parent table maps to one row in the child table), one-to-many (one row in the parent table maps to many rows in the child table), many-to-one (many rows in the parent table map to one row in the
170